@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.lists {
  margin-top: -150px;
}

footer {
  height: 90px;
  text-align: center;
  line-height: 25px;
}

footer a {
  color:  #E33D25;
  text-decoration: none;
}

footer a:last-child {
  color: #42B5E2;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #000;
  display : flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}