@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.lists {
  margin-top: -150px;
}

footer {
  height: 90px;
  text-align: center;
  line-height: 25px;
}

footer a {
  color:  #E33D25;
  text-decoration: none;
}

footer a:last-child {
  color: #42B5E2;
}